@import "helpers/normalize";
@import "helpers/katrina";

body{
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

#main{
    margin: 0 auto;
}

@import "components/tabs";
@import "components/messages";